.encrypt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-left: 4rem;
  height: 40vh;
  min-height: 300px;
  margin-bottom: min(24px);
  padding: 2rem;
}

h1 {
  text-align: center;
}

.encrypt-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 80%;
  width: 100%;
}

.encrypt-form label {
  font-weight: 600;
}

.encrypt-form input {
  height: 3rem;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  outline: transparent;
  padding: 0 1rem;
  font-size: 1rem;
}

.danger {
  border: 1px solid #ee6666;
}

.txt-aux {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.encrypt-form button {
  height: 3rem;
  border-radius: 5px;
  background-color: #252466;
  color: #FAFAFA;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
}

.encrypt-form button:hover {
  cursor: pointer;
  background-color: #151455;
}

@media (max-width: 1024px) {
  .encrypt-container {
     max-width: 800px;
     height: 50vh;
     margin-left: 0%;
  } 
 }
 
 @media (max-width: 925px) {
   .encrypt-container {
     height: 40vh;
   }
 }
 
 @media (max-width: 768px) {
   .encrypt-container {
     margin-left: 0%;
     height: 45vh;
     max-width: 800px;
   }
 }
 
 @media (max-width: 550px) {
   .encrypt-container {
     height: 45vh;
     width: 100%;
     margin-top: 1rem;
     padding: 0 0.5rem;
   }
 }