* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 85%;
}

.main-components {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.encrypt-component, .decrypt-component {
  height: 100vh;
}

.results {
  margin-top: min(1rem);
}

@media (max-width: 925px) {
  .main-components {
    flex-direction: column;
    width: 100%;
  }

  .encrypt-component, .decrypt-component {
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .main-components {
    flex-direction: column;
    width: 100%;
  }

  .encrypt-component, .decrypt-component {
    height: 70vh;
  }
}

@media (max-width: 550px) {
  .encrypt-component, .decrypt-component {
    height: 80vh;
    min-height: 500px;
    width: 100%;
    padding: 0 1rem;
  }
}